:root {
  --primary-color: white;
  --secondary-color: #3a3a3a;
  --tertiary-color: #636363;
  --quaternary-color: black;
  --color-gradient: linear-gradient(
    315deg,
    var(--primary-color),
    var(--secondary-color)
  );
  --primary-font-inter: "Inter", sans-serif;
  --secondary-font-arial: Arial, Helvetica, sans-serif;
}

html {
  width: 100%;
}

header {
  background-image: url("/images/IPhoneWallpapers.png");
  background-size: contain;
  padding: 12%;
  color: var(--primary-color);
  text-align: center;
}

.navbar .navbar-nav .nav-item .nav-link {
  background: var(--color-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--secondary-font-arial);
  font-size: 2vw;
}

body {
  font-family: var(--primary-font-inter);
}

.title {
  padding-top: 2vw;
  font-family: var(--secondary-font-arial);
  font-weight: 200;
}

h1 {
  font-weight: 900;
  text-align: center;
  font-family: var(--secondary-font-arial);
  font-weight: 200;
}

h6 {
  font-family: var(--primary-font-inter);
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--secondary-color);
  text-align: center;
  font-size: 1vw;
}

.container-paragraph {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  text-align: justify;
  color: var(--tertiary-color);
  font-weight: 700;
  background: #e5e5e5;
  width: 100%;
}

.line {
  text-align: "center";
  width: 10vw;
  height: 1vw;
  border-width: 1.5px;
  color: var(--secondary-color);
}

.container-title {
  background: #eeeeee;
}

.black-title {
  font-weight: 400;
  color: var(--quaternary-color);
}

.white-title {
  color: var(--primary-color);
  font-weight: 400;
}

.grid-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% repeat(5, 20%);
  justify-items: center;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.grid-pictures .grid-title {
  grid-column: 1 / span 2;
  background-color: var(--quaternary-color);
  margin-top: 5vw;
  padding-top: 2.5vw;
  align-self: center;
  width: 90%;
  height: 30vh;
  font-size: 3vw;
}

.grid-pictures .grid-title .line {
  border-color: var(--secondary-color);
  z-index: 0;
}

.grid-pictures .p-col32,
.p-col41,
h2 {
  text-align: left;
  margin-left: 15vh;
  margin-right: 15vh;
}

.grid-pictures h2 {
  margin-top: 10vh;
  font-family: var(--secondary-font-arial);
}

.grid-pictures .p-col32 {
  margin-bottom: 10vh;
  margin-top: 5vh;
  font-size: 1.1vw;
  color: var(--secondary-color);
}

.grid-pictures .p-col41 {
  margin-bottom: 10vh;
  margin-top: 5vh;
  font-size: 1.1vw;
  color: #c3c1c1;
}

.grid-pictures .col31,
.col32,
.col41,
.col42,
.col51,
.col52 {
  width: 100%;
  justify-self: center;
}

.grid-pictures .col11,
.col12,
.col21,
.col22,
.col31,
.col32,
.col41,
.col42,
.col51,
.col52 {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-pictures .col11,
.col12,
.col21,
.col22 {
  width: 90%;
}

.grid-pictures .col11,
.col21,
.col31,
.col41,
.col51 {
  justify-self: end;
}

.grid-pictures .col12,
.col22,
.col32,
.col42,
.col52 {
  justify-self: start;
}

.grid-pictures .col51,
.col52 {
  margin-bottom: 5vw;
}

.grid-pictures .col11 {
  background-image: url("/images/pexels1.jpg");
}

.grid-pictures .col12 {
  background-image: url("/images/pexels2.jpg");
}

.grid-pictures .col21 {
  background-image: url("/images/pexels3.jpg");
  margin-bottom: 10%;
}

.grid-pictures .col22 {
  background-image: url("/images/pexels4.jpg");
  margin-bottom: 10%;
}

.grid-pictures .col31 {
  background-image: url("/images/pexels5.jpg");
}

.grid-pictures .col32 {
  background-color: var(--primary-color);
}

.grid-pictures .col42 {
  background-image: url("/images/pexels6.jpg");
}

.grid-pictures .col51 {
  background-image: url("/images/pexels7.jpg");
}

.grid-pictures h6 {
  color: var(--primary-color);
}

footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

footer .social-links a i {
  color: var(--primary-color);
  font-size: 2vw;
}

footer .logo {
  padding: 1vw;
  font-size: 2vw;
  font-weight: 900;
  text-align: center;
}

/* @media (max-width: 576px) {
  .grid-pictures .col11,
  .col12,
  .col21,
  .col22 {
    height: 10vh;
    width: 30vw;
  }
} */

@media (max-width: 760px) {
  .grid-pictures {
    grid-template-columns: 1fr;
    grid-template-rows: 6% repeat(10, 9.5%);
  }

  .grid-pictures .grid-title {
    grid-column: 1;
    width: 90vw;
  }

  .grid-pictures .col11,
  .col12,
  .col21,
  .col22,
  .col31,
  .col32,
  .col41,
  .col42,
  .col51,
  .col52 {
    justify-self: center;
    width: 90vw;
  }

  .grid-pictures .col12,
  .col22,
  .col32,
  .col42,
  .col52 {
    justify-self: center;
  }

  .grid-pictures .col31,
  .col32,
  .col41,
  .col42,
  .col51,
  .col52 {
    width: 90vw;
    justify-self: center;
  }

  .grid-pictures .col51,
  .col52 {
    margin-bottom: 0;
  }

  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 4vw;
    text-align: right;
  }

  h6 {
    font-size: 2vw;
  }

  .grid-pictures .col41 {
    background-image: url("/images/pexels6.jpg");
  }

  .grid-pictures .col42 {
    background-image: none;
  }
  .grid-pictures .col42 .p-col42 {
    margin-bottom: 10vh;
    margin-top: 5vh;
    font-size: 1.1vw;
    color: #c3c1c1;
  }

  .grid-pictures .col21 {
    margin-bottom: 0;
  }

  /* .grid-pictures .col11,
  .col12,
  .col21,
  .col22 {
    height: 30vh;
    width: 40vw;
  } */
}
